body{
    background-color: #FFF2C6;
    font-family: "Ubuntu", sans-serif;
}

p{
    text-align: justify;
}

h1, h2, h3, h4, h5, h6{
    background-color: #8CA9FF;
    color:#FFF8DE;
    text-align: center;
}

.references{
    font-size: 0.8em;
    list-style-type: square;
}
nav{
    position: fixed;
    top: 0px;
    background-color: #FFF8DE;
    left: 0px;
    right: 0px;
    height: 80px;
}
footer{
    position: fixed;
    bottom: 0px;
    background-color: #FFF8DE;
    left: 0px;
    right: 0px;
    height: 80px;
}
nav ul{
    list-style-type: none;
}
nav>ul>li{
    float: left; /*puts the items in a horizontal list*/
    margin: 10px 10px 0px 5px;
    border: 1px solid black;
    width:90px;
    height: 30px;
    text-align: center;
    line-height: 30px;   
}
nav a{
    display: block;
    background-color:#8CA9FF;
    color: white;
    text-decoration: none;
}
.dropdown>ul{
    display: none;
}
.dropdown:hover>ul{
    display: block;
    width: 120px;
    position: relative;
    right: 40px;
    border: 1px
}
section{
    margin-top: 80px;
    margin-bottom: 80px;
}
